.equipment-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-radius: 10px;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.equipment-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  flex-shrink: 0;
}

.equipment-img {
  width: 75px;
  aspect-ratio: 1 /1;
  object-fit: cover;
}

.info {
  flex-grow: 1;
  overflow: hidden;
}

/* .button-group {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* Dim card when checked out */
.equipment-card.checked-out {
  opacity: 0.6;
  filter: grayscale(0.2);
  background-color: #f8f9fa; /* subtle grey background */
  pointer-events: auto; /* allow button clicks */
}

/* Dim image a bit more */
.equipment-card.checked-out img {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .equipment-card {
    flex-direction: column;
    text-align: center;
  }

  .button-group {
    margin-top: 0.5rem;
  }

  .image-container {
    margin-bottom: 0.5rem;
  }
}
